In [60]:
import pandas as pd

data = pd.read_csv(r'C:\Users\Lahar\Downloads\EmployeeAttrition(1).csv')

In [61]:
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [62]:
#Check the head of the DataFrame.
print(data.head())

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [74]:
#Q1: Find the number of entries/rows and columns in the data.
print(data.shape)
print("Rows : ",data.shape[0])
print("Columns : ",data.shape[1])

(1470, 35)
Rows :  1470
Columns :  35

In [64]:
#Q2: What is the average Monthly Income?
print(data["MonthlyIncome"].mean())

6502.931292517007

In [65]:
#Q3: What is the highest amount of HourlyRate ?
print(data["HourlyRate"].max())

100

In [66]:
#Q4: What is the Department, JobRole, MaritalStatus and OverTime of EmployeeNumber 10?
result = data[data.EmployeeNumber == 10]
if(not result.empty):
    print("Department :",result["Department"].values[0])
    print("JobRole: ", result["JobRole"].values[0])
    print("MaritalStatus: ", result["MaritalStatus"].values[0])
    print("OverTime: ", result["OverTime"].values[0])
else:
    print("Employee not found")

Department : Research & Development
JobRole:  Laboratory Technician
MaritalStatus:  Married
OverTime:  Yes

In [67]:
#Q5: What is the Employee ID of highest MonthlyIncome paid employee?
data.iloc[data["MonthlyIncome"].argmax()]["EmployeeNumber"]

259

In [68]:
#Q6: What is the average(mean) DailyRate group by Age for all Employees whose age is greater than 58. (hint: use groupby function)
x=data[data['Age']>58]
x.groupby('Age')['DailyRate'].mean()

Age
59    992.3
60    833.2
Name: DailyRate, dtype: float64

In [69]:
#Q7: How many unique EducationField are there?
print(len(data['EducationField'].unique()))

6

In [70]:
#Q8: What are the top 5 most common JobRole?
jobs={}
for i in data["JobRole"]:
    if i in jobs:
        jobs[i]+=1
    else:
        jobs[i]=1
jobs=sorted(jobs,reverse = True)
for i in range(0,5):
    print(jobs[i], "\n")

Sales Representative

Sales Executive

Research Scientist

Research Director

Manufacturing Director

In [71]:
#Q9: How many JobRoles represented by less than 100 employees?
data['JobRole'].value_counts()

# As shown below, Sales Representative,Research Director and Human Resources have less than 100 employees.

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

In [72]:
#Q10: What is the correlation between Education and JobSatisfaction?
data['Education'].corr(data['JobSatisfaction'])

-0.011296116736573922